services:
  api:
    build: ./API
    ports:
      - "8000:8000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017
      - DB_NAME=skillscapes
    depends_on:
      - mongodb
    volumes:
      - ./API:/app # Map API folder to container root

  mongodb:
    image: mongo:latest
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
